* {
    font-family: 'Comic Sans MS';
}

body {
    background-color: rgb(248, 110, 133);
    padding: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#header {
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 1rem;
}